# causalgraph codebase
owlready2==0.43
networkx==2.8.4
matplotlib==3.5.1
requests==2.27.1
sentry-sdk==1.5.4
ecs_logging==1.1.0
deprecated==1.2.14
# DoWhy
numpy==1.23.5
pandas==1.5.1
dowhy==0.7.1
deepdiff==6.2.1